#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  color: #1e1e1e;
}


h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #ffffff;
}

h2 {
  font-size: 2.25rem;
  margin-bottom: 1rem;
  color: #056b24;
}

h3 {
  font-size: 1.75rem;
  margin-bottom: 0.75rem;
  color: #07661c;
}


a {
  color: #1f4b0a;
  text-decoration: none;
  font-weight: 500;
}
a:hover {
  text-decoration: underline;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #131313aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #030303aa);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.card {
  padding: 2em;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
  margin-bottom: 2rem;
}

/* Texte secondaire */
.read-the-docs {
  color: #888;
  font-size: 0.9rem;
}
